// Global elements
// -----------------------------------------------------------------------------
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $base-font;
  font-family: HalisR, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #6B6666;
  letter-spacing: -0.5px;
  background-color: #F3EFEE;
  background-image: linear-gradient(-243deg, #F2EFEE 0%, #DCD8D7 95%);
}

.is-hidden {
  display: none;
}
