// Global elements
// -----------------------------------------------------------------------------
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $base-font;
  font-family: HalisR, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #6B6666;
  letter-spacing: -0.5px;
  background-color: #F3EFEE;
  background-image:
    url('../assets/images/bg.png'),
    linear-gradient(45deg, #C9C3C2 50%, #F2EFEE 100%);
}

.is-hidden {
  display: none;
}
