.hero-container {
  text-align: center;
}
.hero {
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(48);

  @include susy-breakpoint($break-large) {
    padding-top: rem-calc(120);
    padding-bottom: rem-calc(96);
  }

  &.is-title {
    text-align: center;
    @include susy-breakpoint($break-medium) {
      padding-top: 0;
      @include pad(1, 1);
    }
  }
}
.hero-portrait {
  display: inline-block;
  overflow: hidden;
  line-height: 0;
  text-align: center;
  border-radius: 96px;
  @include susy-breakpoint($break-medium) {
    display: none;
  }
}
