/*doc
---
title: Horizontal navigation
name: navigation
category: Components
---

Responsive hotizontal menu.

```html_example
<nav class="header-nav nav-horizontal" role="navigation">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/styleguide">Styleguide</a>
    </li>
    <li>
      <a href="https://github.com/wearecube">Github repo</a>
    </li>
  </ul>
</nav>
```
*/
.nav-horizontal {
  text-align: center;
  @include susy-breakpoint($break-large) {
    margin-top: rem-calc(120);
  }
}
.nav-horizontal ul {
  @include reset-list;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}
.nav-horizontal li {
  margin-top: rem-calc(1);
  @include susy-breakpoint($break-large) {
    margin-top: 0;
    margin-left: rem-calc(1);
  }
  &:first-child {
    margin: 0;
  }
}
.nav-horizontal a {
  position: relative;
  display: block;
  padding: rem-calc(6 12);
  color: #6B6666;
  font-size: rem-calc(12);
  line-height: rem-calc(24);
  text-decoration: none;
  transition: color 300ms ease;

  @include susy-breakpoint($break-large) {
    padding: rem-calc(12 18);
    font-size: rem-calc(18);
  }

  &:hover,
  &:focus,
  &.active {
    color: $color-secondary;
  }
  &.active::after {
    content: '';
    display: block;
    position: absolute;
    top: 36px;
    left: 50%;
    width: 4px;
    height: 4px;
    background: $color-secondary;
    border-radius: 2px;

    @include susy-breakpoint($break-large) {
      top: 48px;
    }
  }
}

.nav-social {
  list-style: none;
  padding: 0;
  margin-top: rem-calc(60);

  li {
    margin-top: rem-calc(6);
    @include susy-breakpoint($break-medium) {
      @include span(2 of 6);
      margin-top: 0;
    }
  }
  li:last-child {
    @include susy-breakpoint($break-medium) {
      @include last;
    }
  }
}
