.main-container {
  position: relative;
  overflow: hidden;
}
.main-content {
  @include susy-breakpoint($break-medium) {
    @include pad(2, 0);
  }
}
.main-aside {
  padding-bottom: rem-calc(60);
  padding-top: rem-calc(60);
  @include susy-breakpoint($break-medium) {
    @include pad(2, 0);
    padding-bottom: rem-calc(120);
  }
  @include susy-breakpoint($break-large) {
    padding-top: rem-calc(60);
  }
}
.main-portrait {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32%;
  max-height: 100%;
  margin: 0;
  line-height: 0;
  margin-left: -2%;
  z-index: 1;

  @include susy-breakpoint($break-medium) {
    display: block;
  }

  @include susy-breakpoint($break-large) {
    width: 38%;
    margin-left: -6%;
  }

  @include susy-breakpoint(80em) {
    top: 0;
    width: rem-calc(520);
    left: 50%;
    margin-left: -720px;
  }

  img {
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition: all 800ms ease-in-out;
  }
  img.lazyloaded {
    opacity: 1;
    transform: translateY(0);
  }
}
