// Imports
// -----------------------------------------------------------------------------
// Import external ressources, as plugins or frameworks : normalize, susy etc.
// -----------------------------------------------------------------------------
// bower:scss
// endbower
@import 'functions';

// 1. Identity
// -----------------------------------------------------------------------------
// Project’s core brand elements : typefaces, typography, colours palette
// -----------------------------------------------------------------------------
$base-font: 16px !default;
$color-primary: #293E64;
$color-secondary: #A2353C;

// Grid System variables
$susy: (
  container: auto,
  container-position: center,
  columns: 6,
  gutters: 24/136,
  column-width: 136px,
  debug: (
    image: hide,
    color: rgba(red, 0.2),
    output: background,
    toggle: top right,
  )
);
// Breakpoints (size, columns or columns number)
$break-small: 20em, 3;
$break-medium: 40em, 4;
$break-large: 60em, 6;

@import 'identity/font';

// 2. Layout
// -----------------------------------------------------------------------------
// Different design principles for the layout, depending on the viewport : body
// margins, grid system, gutters, wrappers, vertical rhythm etc.
// -----------------------------------------------------------------------------
@import 'layout/common';
@import 'layout/grid';

// 3. Elements
// -----------------------------------------------------------------------------
// Smallest reusable parts : buttons, links, inputs, drop-downs etc.
// -----------------------------------------------------------------------------
@import 'elements/buttons';
@import 'elements/inputs';
@import 'elements/headings';
@import 'elements/paragraphs';
@import 'elements/icons';
@import 'elements/links';
@import 'elements/lists';
@import 'elements/quote';


// 4. Components
// -----------------------------------------------------------------------------
// Anything that uses at least a few Elements : cards, heros, navigation menus
// etc.
// -----------------------------------------------------------------------------
@import 'components/nav';
@import 'components/hero';


// 5. Compositions
// -----------------------------------------------------------------------------
// Part that has multiple Components inside it, define how to Components inside
// it should behave : whitespaces, title, background of the block etc.
// -----------------------------------------------------------------------------
@import "compositions/main";
@import "compositions/footer";


// 6. Pages
// -----------------------------------------------------------------------------
// Actual Pages (or screens) of the project. All the weird exceptions defined
// for specific pages like "the contact page should have a blue background"
// -----------------------------------------------------------------------------
//@import "pages/home";
