// Links
// -----------------------------------------------------------------------------

/*doc
---
title: Links
name: Links
category: Elements
---

The HTML `<a>` Element (or the HTML Anchor Element) defines a hyperlink, the named target destination for a hyperlink, or both.

```html_example
<a href="http://wearecube.ch/">Here we cube</a>
```
*/

a {
  color: $color-secondary;
  transition: all 300ms ease;

  &:visited {
    color: lighten($color-secondary, 10%);
  }
  &:hover,
  &:active {
    color: $color-primary;
  }
  &:focus {
    color: darken($color-primary, 10%);
  }
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
